.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 65vh;
    margin: auto;
    padding: 40px 0;
    border-radius: 5px;
    padding:10px;
    border: solid 2px #303030;
    input{
        height: 40px;
        background: none;
        margin: 10px;
        border: none;
        border-bottom: solid 2px #303030;
        color: white;
        
    }
    textarea{
        height: 190px;
        background: none;
        margin: 10px;
        padding: 5px;
        border: none;
        border-bottom: solid 2px #303030;
        color: white;
        }
    button{
        height: 30px;
        width: 100px;
        margin: 10px auto;
        background: rgb(87, 173, 223);
        border: none;
        border-radius: 50px;
    }
}
@media only screen and (max-width: 900px) {
    form{
       padding-top: 40px;
        width: 60%;}
}
@media only screen and (max-width: 550px) {
    form{
       padding-top: 40px;
        width: 80%;}
}