*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
}

.homeWrapper{
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.homeAbout{
    width: 60%;
   
    p{
        a{
            color:rgb(87, 173, 223);
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            cursor: pointer;
        }
}
}
.homeHeader{
    width: 85%;
    text-align: start;
    display: flex;
    position: relative;
    top:  100px;
    .headerTxt{
        flex:3;
        h1{
            padding: 0;
            margin: 0;}
        h2{
            padding: 0 0 0 50px ;
            margin: 0;}
    }  
    .gitHubWrap{
       display: none;
    }
    .linkedInWrap{    
        flex: 0.5;
        
        .linkedinLink{
            background: url('/images/linkedinWhite.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
           
        }
    } 

}

@media only screen and (max-width: 900px) {
    .homeAbout{
        width: 90%;
        p{padding-bottom: 20px;}
    }
    .homeHeader{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        top: 0;
        .headerTxt{
               
            h2{
                padding-left: 0;
    }
}
        .gitHubWrap{
            
            display: block;
            margin: auto;
            width: 50px;
            height: 50px;

            .githubLink{
             
                position: relative;
                left: 0px;
                bottom: 0px;
            }
        }
    }  
   
    .linkedInWrap{
        width: 100px;
        height: 100px;
        margin: auto;
    }
   
}
