
body{
    min-width: 280px;
}
.skillsWrapper{
padding-top: 100px; 
padding-bottom: 60px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


.skill{         
    padding: 10px;
    display: flex;
    
    h3{}
    p{
        padding-left: 10px;
    }
  
}
        .skillsText{
            padding: 20px;
            }   
        }
        .knowOf{
            margin: 10px;
            
            .KOTitle{
                background: none;
                text-decoration: underline;
            }
        }
        .stackIcons{
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 40px;
                margin: 0 20px ;
                display: inline-block;
            }
        }
        @media only screen and (max-width: 800px) {      

     
.skill{         
    padding: 0;
    margin: 0;
    flex-direction: column;
    
    }
.skillsWrapper{
padding-top: 40px; 
padding-bottom: 60px;
width: 80%;
text-align: left;
flex-direction: column;
align-items: flex-start;
h3{margin: none;}
p{
    padding-top:  5px;
    margin: 0;}
        .skillsText{
            padding: 0;
            padding-left: 20px;
            margin: 0;
            }   
        }
        .knowOf{
            padding: 0;
            padding-left: 20px;
            margin: 0;
            .KOTitle{
            
                background: none;
                text-decoration: underline;
            }
        }
        .stackIcons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            
            position: absolute;
            padding: 10px;
            right: 0px;
            top: 40px;
            img{
                width: 30px;
                margin:10px ;
                display: inline-block;
            }
        }
           
        }
                    
@media only screen and (max-width: 600px) { 
    
    .skill{         
        padding: 10px;
        
        }
.skillsWrapper{
    padding-top: 40px; 
    width: 85%;
    text-align: left;
    h3{margin: 0;}
            .skillsText{
                
                }   
            }
            .knowOf{
                
                
                .KOTitle{
                
                    background: none;
                    text-decoration: underline;
                }
            }
            .stackIcons{
                
                
                img{
                    width: 30px;
                    margin:10px auto;
                }
            }


}
