
body{
  
}
.skillsWrapper{
    min-width: 60%;
    max-width: 80%;
    margin: auto;
    h2{
        padding:20px ;
        text-align: center;
    }
    .skillsText{
        
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "sk1 sk2 sk3"
            "sk4 sk5 sk6"
        ;
        .skill{
            min-height: 200px;

            display: flex;   
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid 2px #303030;    
            h3{
                text-align: center;
                width: 100%;
            }
            p{}
    }   
        .blue{
            border: solid 2px rgb(87, 173, 223);
            
        }
    #skill1{grid-area: sk1;}
    #skill2{grid-area: sk2;}
    #skill3{grid-area: sk3;}
    #skill4{grid-area: sk4;}
    #skill5{grid-area: sk5;}
    #skill6{grid-area: sk6;}
    }
}

        .knowOf{ 
                 padding-bottom: 20px;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr ;
                grid-template-areas: 
                "ko1 ko2 ko3 ko4 ko5"
                ;
           
                
                .skill{
                    min-height: 100px;
                    display: flex;   
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;  
                    border-top: solid 2px #303030;   
                    border-bottom: solid 2px #303030;   
                }
                .blue{background: rgb(87, 173, 223);}
                #KO1{grid-area: ko1;}
                #KO2{grid-area: ko2;}
                #KO3{grid-area: ko3;}
                #KO4{grid-area: ko4;}
                #KO5{grid-area: ko5;}
        
    }

    .KOTitle{
        text-align: center;
        width: 100%;
        padding: 20px;
    }









        .stackIcons{
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            img{
                width: 40px;
                margin: 0 20px ;
                display: inline-block;
            }
        }
        @media only screen and (max-width: 800px) {
            .skillsWrapper{
                .skillsText{
            
                
                    margin: auto;
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr 1fr 1fr;
                    grid-template-areas: 
                        "sk1 sk4"
                        "sk2 sk5"
                        "sk3 sk6"
                    ;}
                    .knowOf{ 
                        margin: auto;
                        padding-bottom: 20px;
                        display: grid;
                        text-align: center;
                        grid-template-columns: 1fr 1fr 1fr ;
                        grid-template-rows: 1fr 1fr;
                        grid-template-areas: 
                        "ko1 ko2 ko3 "
                        "ko4 ko5 ."
                        
                        ;}
        }}
        @media only screen and (max-width: 550px) {
            .skillsWrapper{
                .skillsText{
            
    
                    margin: auto;
                    text-align: center;
                    display: grid;
                    grid-template-columns: 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    grid-template-areas: 
                        "sk1 "
                        "sk2"
                        "sk3"
                        "sk4"
                        "sk5"
                        "sk6"
                    ;}
                    .knowOf{ 
                        margin: auto;
                        
                        display: grid;
                        grid-template-columns: 1fr 1fr ;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-areas: 
                        "ko1 ko4"
                        "ko2 ko5"
                        "ko3 ."
                        
                        ;}
        }}